// Presets //

*,
*::before,
*::after {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
}

ul {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1100px;
  width: 90%;
  margin: 0 auto;

  /* Added for nav-toggle positioning */
  position: relative;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

// Flexbox presets //
.flex {
  display: flex;

  &-jc-sb {
    justify-content: space-between;
  }

  &-jc-c {
    justify-content: center;
  }

  &-ai-c {
    align-items: center;
  }
}

/* This helper class makes content invisible for humans, 
but it keeps content on the page for screen readers and bots*/

.sr-text {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: none;
  color: transparent;
}

// Mobile and Desktop Classes //

@media (max-width: 1023px) {
  .hide-for-mobile {
    display: none;
  }
}

@media (min-width: 1024px) {
  .hide-for-desktop {
    display: none;
  }
}
